/* Réinitialisation des styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles pour la mise en page de base */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex; /* Utilisation de Flexbox pour la disposition */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.sidebar {
    background-color: #1DA1F2; /* Couleur de la barre latérale Twitter */
    color: #fff;
    width: 250px;
    min-height: 100vh;
    padding: 20px;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav li {
    margin-bottom: 10px;
}

.sidebar nav a {
    text-decoration: none;
    color: #fff;
}

main {
    flex: 1;
    padding: 20px;
}

section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
